<html>
<head>
    {% if title %}
    <title>{{title}} - BirdRecognition</title>
    {% else %}
    <title>BirdRecognition</title>
    {% endif %}
    <!--google map script for the record-->



</head>


<body>

<!--There should be a constraint for different user role-->

<div>BirdRecognition: <a href="/">Home</a></div>
{% if g.user.is_authenticated %}
| <a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
<hr>

<!--Message from flask system-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>