{% extends "base.html" %}
{% block content %}
<h2>Record Details >>> {{ audio_name }}</h2>
<div><!--This part is used to demonstrate the player-->
    <h3> Most Possible Species Name:
        {{audio_record.top_estimation_bird}} with Confidence

        {% if audio_record.training_data== 'true' %}
        100%
        {% else %}
        {{ audio_record.confidence*100 }}% .
        {% endif%}


    </h3>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.2/wavesurfer.min.js"></script>
    <script src="{{ url_for('static', filename='js/galleria/galleria-1.4.7.min.js') }}"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8TpXckdB825zX6MO12cIDXs8TgHq70cs&callback=myMap"></script>

    <!--audio player panel-->
    <div id="waveform"></div>

    <!--control panel for the audio information-->
    <div style="text-align: center">
        <button class="btn btn-primary" onclick="wavesurfer.playPause()">
            <i class="glyphicon glyphicon-play"></i>
            Play / Pause
        </button>

        <p class="row">
        <div class="col-xs-1">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </div>

        <div class="col-xs-10">
            <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%"/>
        </div>
        </p>
        <div id="equalizer" style="margin-top: 10px"></div>

    </div>

    <!--section to display the top ranking bird's wiki-->
    <hr>
    <div>
        <h4>Wiki Description:</h4>
        <p>
            {{wiki_info.summary}}
        </p>
        <div class="galleria" style="width: 600px; height: 500px; background: #000">
            {% if wiki_info.images %}
            {% for image in wiki_info.images%}
            <img src={{image}}>
            {% endfor %}
            {% endif%}
        </div>
    </div>

    <!--section to utilize google map api to locate the bird-->
    <hr>
    <div>
        <h4>Detailed Location: </h4>{{audio_record.location}}<br/>
        <div id="map" style="width:100%;height:500px"></div>
    </div>

    <!--section for all possible results as a ranking list-->
    <hr>
    <div>
        <h4>All possible Results <font color=red><b>In Ranking:</b></font></h4>
        <ul>
            {% for rank in audio_record.estimation_rank %}
            <li><img src={{ url_for('static', filename='bird_icon/')}}{{rank[0]}}.jpg > {{bird_dict[rank[0]]}}</li>
            {% endfor %}
        </ul>
    </div>

    <!--section for more meta data about the record-->
    <hr>
    <div>
        <!--this form is only used for display-->
        <form>
            <fieldset disabled="disabled">
                <ul>
                    <li>Expert Request Status: <input type=text size=80 value="{{audio_record.expert_request_status}}"/>
                    </li>
                    <li>User Comment: <input type=text size=80 value="{{audio_record.user_comment}}"/></li>
                    <li>Submitted_By: <input type=text size=80 value="{{audio_record.submitted_by}}"/></li>
                    <li>Location : <input type=text size=80 value="{{audio_record.location}}"/></li>
                    <li>Evaluation: <input type=text size=80 value="{{audio_record.evaluation}}"/></li>
                    <li>Date: <input type=text size=80 value="{{audio_record.date}}"/></li>
                    <li>Time: <input type=text size=80 value="{{audio_record.time}}"/></li>
                </ul>
            </fieldset>
        </form>
    </div>

    <!--Request for Expert Assistance Panel for COMMON user-->
    {% if audio_record.submitted_by == g.user.email and audio_record.confidence < 0.505 and g.user.expert == 'false'%}
    <hr>
    <p>Since the confidence is lower than the average performance, you are eligible to apply for expert request.</p>
    <div>
        {% if audio_record.expert_request_status=='not'%}<!--status:not-->
        <span><a href={{url_for('expert_status_update',record_id=audio_record._id)}}
                 --->Hit me to REQUEST the assistance from experts.<---</a>
            </span>
        {%endif%}

        {% if audio_record.expert_request_status == 'pending'%}<!--status:pending-->
        <span>Please Wait with patience... The requested record has not been marked by an expert yet.</span>
        {% endif%}

        {% if audio_record.expert_request_status == 'marked'%}<!--status:marked-->
        <span>Please Confirmed the following information marked by an expert: (only as a reference)</span>
        <!--display the two data only supported when the status becomes marked by experts-->
        <span>Experts' Estimation:</span>{{audio_record.expert_estimation_bird}}
        <span><img src={{ url_for('static', filename='bird_icon/')}}{{audio_record.expert_estimation_code}}.jpg ></span>
        <span><a href={{url_for('expert_status_update',record_id=audio_record._id)}}
                 --->Hit me to CONFIRM the result.<---</a>
            </span>
        {% endif%}

        {% if audio_record.expert_request_status == 'confirmed'%}<!--status:marked-->
        <span>The result of expert assistance has been confirmed: (only as a reference)</span>
        <!--display the two data only supported when the status becomes marked by experts-->
        <span>Experts' Estimation:</span>{{audio_record.expert_estimation_bird}}
        <span><img src={{ url_for('static', filename='bird_icon/')}}{{audio_record.expert_estimation_code}}.jpg ></span>
        {% endif%}
    </div>
    {% endif %}

    <!--This panel is used to navigate expert to submit essential information to mark the record-->
    {% if g.user.expert=='true' %}
    <div>
        {% if audio_record.expert_request_status=='not' %}
            <span>No Assistance request has been made by the submitter.</span>
        {% else %}<!-- status from pending, marked, confirmed => tp marked again-->
            <form action={{url_for('record_detail_update',record_id=audio_record._id)}} method=POST>
                <select name=expert_estimation_code>
                {% for bird_dictionary_item in bird_dictionary%}
                    <option value= {{bird_dictionary_item[0]}}>{{bird_dictionary_item[1]}}</option>
                {% endfor %}
                </select>
                <p>
                Expert Comment: <input name="expert_comment" type=text size=80 value="{{audio_record.expert_comment}}" />
                <input type=submit value="Mark The sample"><input type=reset>
            </form>
        {% endif %}
     </div>
    {% endif %}

    <!--wavesurfer script for control panel-->
    <script>
        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'red',
            progressColor: 'purple'
        });

        wavesurfer.load("{{audio_record.url}}");

        var slider = document.querySelector('#slider');

        slider.oninput = function () {
            var zoomLevel = Number(slider.value);
            wavesurfer.zoom(zoomLevel);
        };

        // Equalizer
        wavesurfer.on('ready', function () {
            var EQ = [
                {
                    f: 32,
                    type: 'lowshelf'
                }, {
                    f: 64,
                    type: 'peaking'
                }, {
                    f: 125,
                    type: 'peaking'
                }, {
                    f: 250,
                    type: 'peaking'
                }, {
                    f: 500,
                    type: 'peaking'
                }, {
                    f: 1000,
                    type: 'peaking'
                }, {
                    f: 2000,
                    type: 'peaking'
                }, {
                    f: 8000,
                    type: 'peaking'
                }, {
                    f: 8000,
                    type: 'peaking'
                }, {
                    f: 16000,
                    type: 'highshelf'
                }
            ];

            // Create filters
            var filters = EQ.map(function (band) {
                var filter = wavesurfer.backend.ac.createBiquadFilter();
                filter.type = band.type;
                filter.gain.value = 0;
                filter.Q.value = 1;
                filter.frequency.value = band.f;
                return filter;
            });

            // Connect filters to wavesurfer
            wavesurfer.backend.setFilters(filters);

            // Bind filters to vertical range sliders
            var container = document.querySelector('#equalizer');
            filters.forEach(function (filter) {
                var input = document.createElement('input');
                wavesurfer.util.extend(input, {
                    type: 'range',
                    min: -80,
                    max: 80,
                    value: 0,
                    title: filter.frequency.value
                });
                input.style.display = 'inline-block';
                input.setAttribute('orient', 'vertical');
                wavesurfer.drawer.style(input, {
                    'webkitAppearance': 'slider-vertical',
                    width: '50px',
                    height: '150px'
                });
                container.appendChild(input);

                var onChange = function (e) {
                    filter.gain.value = ~~e.target.value;
                };

                input.addEventListener('input', onChange);
                input.addEventListener('change', onChange);
            });

            // For debugging
            wavesurfer.filters = filters;
        });
    </script>

    <!--galleria script for images-->
    <script>
        (function () {
            Galleria.loadTheme('/static/js/galleria/themes/classic/galleria.classic.min.js');
            Galleria.run('.galleria');
        }());
    </script>

    <!--google map-->
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var myCenter = new google.maps.LatLng(-37.7, 144.9);
//            var myCenter = new google.maps.LatLng({{audio_record.latitude}}, {{audio_record.longitude}});
            var mapOptions = {
                center: myCenter,
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.BOUNCE
            });
            marker.setMap(map);
        }
        ;
    </script>

    {% endblock %}